<configuration>
    <conversionRule conversionWord="levelcolor" class="de.miraculixx.ghg_bot.utils.log.LogHighlighter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%levelcolor([%d{yyyy.MM.dd HH:mm:ss}] [%level] %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
